# Data
data/raw/
date/contents/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.venv/
venv/
.env


# Large files
*.pt
*.pth
*.ckpt
*.parquet
*.csv
*.zip

# OS files
.DS_Store
Thumbs.db

.venv-platform/
**/__pycache__/
adaptive_learning_platform/storage/*.db